body {
    margin: 0 auto;
    font-family: Calibri, sans-serif;
}

/* Tête de page */
section.home-top {
    height: 80vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    color: white;
}

header {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 30px;
}

.landing {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    margin-left: 12px;
}

p.about {
    margin: 15px;
}

/* Liens animés */
section.links {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 25px;
}

.wrapper {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 100%;
    place-items: center;
    font-family: Calibri, sans-serif;
}

.wrapper .button {
    display: inline-block;
    width: 60px;
    height: 60px;
    /* float: left; */
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50px;
    text-align: left;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
}

.wrapper .button:nth-child(1):hover .icon {
    background-color: rgb(27, 159, 241);
    color: rgb(255, 255, 255);
}

.wrapper .button:nth-child(2):hover .icon {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.wrapper .button:nth-child(3):hover .icon {
    background-color: rgb(113, 135, 218);
    color: rgb(255, 255, 255);
}

.wrapper .button:nth-child(1):hover span {
    color: rgb(27, 159, 241);
}

.wrapper .button:nth-child(2):hover span a {
    color: rgb(50, 50, 50);
}

.wrapper .button:nth-child(3):hover span a {
    color: rgb(113, 135, 218);
}

.wrapper .button .icon a {
    color: rgb(0, 0, 0);
}

a { text-decoration: none; }

.wrapper .button:hover .icon a {
    color: rgb(255, 255, 255);
}

.wrapper .button .icon i {
    font-size: 32px;
    line-height: 60px;
    transition: 0.3s;
}

.wrapper .button span {
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}